html, body, #app {
    height: 100%;
}
body {
    margin: 0;
    padding: 0px 8px;
    background: #fafafa;
}

input {
  background: white !important;
}

.page-container {
  padding: 20px;
}

.post-list-page-wrapper {
  .bulk-edit-title {
    text-align: center;
  }
}


.post-preview-card {
  width:100%;
  max-width: 530px;
  display: inline-block;
  margin: 0 20px;

  img {
    object-fit: cover;
    width: 100%;
    min-height: 200px;
    height: auto;
  }
}

.new-post-form-wrapper, .edit-post-form-wrapper {
    padding: 20px;

    hr {
        margin: 40px 0;
    }

  .post-title-wrapper {
    padding: 20px 0;
  }


  .action-button-wrapper {
    text-align: right;
  }


  .featured-image-and-excerpt-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;


    .featured-image-wrapper {
      display: inline-block;
      width: 500px;

      img {
        width: 500px;
        min-height: 300px;
        display: inline-block;
        box-shadow:0 0 0 3px rgba(211, 211, 211, 0.16);
        max-width: 500px;
      }

      .delete-button-wrapper {
        background: white;
        text-align: right;
      }
    }


    .excerpt-field-wrapper {
      width: calc(100% - 540px);
      margin-top: 0px !important;

      .equalizing-empty-element{
        height: 36px;
      }

      .excerpt-field {
        width: 100%;
        margin-top: 0px !important;
      }
    }

  }
}


.entry-table-wrapper {
  padding: 20px 0;

  .custom-toolbar-select-wrapper {
    display: flex;
  }
}

/**
  For Serializers
 */
.post-content-image {
    object-fit: contain;
    max-width: 50%;
}

