html, body, #app {
    height: 100%;
}
body {
    margin: 0;
    padding: 0px 8px;
}
#app {
}

#model-wrapper {
    padding: 20px;
}

.new-post-form-wrapper, .edit-post-form-wrapper {
    padding: 20px;
}

.model-list-wrapper {
    padding: 20px 0;
}

.add-button-wrapper {
    padding-left: 20px;
}

.rml-paragraph {
    margin-bottom: 0;
}
.no-margin {
    margin: 0!important;
}

.code-section-wrapper {
    padding: 20px;
}

.code-section-internal-wrapper {
    display: flex;
    width: 100%;
}
.code-section-menu-wrapper {
    width: 20%;
}
.code-section-code-wrapper {
    margin: 0 auto;
}

@media (max-width: 770px){
    .code-section-wrapper {
        display: block;
        width: 100%;
    }

    .code-section-menu-wrapper {
        width: 100%;
    }
    .code-section-code-wrapper {
        width: 100%;
    }
}

.post-preview-card {
    width:350px;
    display: inline-block;
    margin: 0 20px;
}
.post-preview-card  img {
    object-fit: cover;
    height: 200px;
    width: 350px;
}

.post-content-image {
    object-fit: contain;
    max-width: 50%;
}
.new-post-title-wrapper {
    padding: 20px 0;
}

.create-button-wrapper {
    text-align: left;
}

.featured-image-and-excerpt-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.featured-image-wrapper {
    display: inline-block;
    width: 500px;
    min-height: 200px;
    background: lightgray;
}

.excerpt-field {
    width: calc(100% - 540px);
     margin-top: 0px !important;
}

.excerpt-wrapper {

}